body {
    height: 100vh;
    background: linear-gradient(#64a2e0, #1a1afa);
}

main {
    width: 40%;
    margin: auto;
    padding: 30px 40px;
}

#novastarefas {
    background: #ffffff;
}

#tarefas {
    background: #ffffff;
}