* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(#64a2e0, #1a1afa);
}

main {
    position: absolute;
    margin: auto;
    padding: 30px 40px;
    width: 40%;
    min-width: 450px;
    left: 0;
    right: 0;
    top: 30px;
}

#novastarefas {
    position: relative;
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

input {
    position: relative;
    width: 70%;
    height: 40px;
    font-size: 1em;
    border: 2px solid #aeaeae;
    border-radius: 5px;
    padding: 10px;
    color: #111111;
}

input:focus {
    outline: none;
    border-color: #8052ec;
}

button {
    position: relative;
    float: right;
    width: 20%;
    height: 40px;
    font-size: 1em;
    color: #ffffff;
    background-color: #8052ec;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#tarefas {
    position: relative;
    background: #ffffff;
    padding: 30px 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.tarefas {
    background-color: #ffffff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d2d3;
    cursor: pointer;
}

footer {
    position: fixed;
    background-color: #0e1045;    
    color: #cfcfcf;
    height: 50px;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}